{% extends 'base.html.twig' %}

{% block body %}

	<div style="display: flex;">
		<svg viewBox="-500 -500 1000 1000" width="500" height="700">
			{% for i, node in nodes %}
				<a href="{{ path('graph_node', {uuid: node.uuid}) }}">
				<circle title="{{ node.uuid }}" cx="{{node.position.x}}" cy="{{node.position.y}}" r="20" /></a>
			{% endfor %}

			{% for edge in edges %}
				<a href="{{ path('graph_edge', {uuid: edge.uuid}) }}">
				<polygon points="{{edge.source.position.x}} {{edge.source.position.y}} {{edge.target.position.x}} {{edge.target.position.y}}" stroke="cyan" />
				</a>
			{% endfor %}
		</svg>
		<div>
		<h1>Network Overview</h1>

		<section>
			{{ form(graphClearForm) }}

			<h1>Nodes</h1>

			<table width="100%">
				<thead>
					<tr>
						<th>UUID</th>
						<th>Capacity</th>
					</tr>
				</thead>
				<tbody>
					{% for node in nodes %}
						<tr>
						<td><a href="{{ path('graph_node', {uuid: node.uuid}) }}">{{ node.uuid }}</a></td>
						<td>{{ node.capacity }}</td>
					</tr>
					{% else %}
						<tr>
						<td colspan="2" align="center">No nodes created yet</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

			{{ form(createNodeForm) }}


			{% if nodes is not empty %}
			<h2>Edges</h2>

			<form action="{{ path('graph_create_edges_reverse_all') }}" method="post" accept-charset="utf-8">
				<button>Symmetric closure</button>
			</form>

			<table width="100%">
				<thead>
					<tr>
						<th>UUID</th>
						<th>Source</th>
						<th>Target</th>
						<th>Delay</th>
					</tr>
				</thead>
				<tbody>
				{% for edge in edges %}
					<tr>
						<td><a href="{{ path('graph_edge', {uuid: edge.uuid}) }}">{{ edge.uuid }}</a></td>
						<td align="center"><a href="{{ path('graph_node', {uuid: edge.source.uuid}) }}">{{edge.source.uuid}}</a></td>
						
						<td align="center"><a href="{{ path('graph_node', {uuid: edge.target.uuid}) }}">{{edge.target.uuid}}</a></td>

						<td>{{ edge.delay }}</td>
					</tr>
					{% else %}
						<tr>
						<td colspan="4" align="center">No edges created yet</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>

			{{ form(createEdgeForm) }}
			{% endif %}

			{% if edges is not empty %}
			<h2>Simulation</h2>

	        <a href="{{ path('simulation_next') }}">Run Simulation</a>
	    {% endif %}

		</section>
		</div>
	</div>
{% endblock %}