{% extends 'base.html.twig' %}

{% block body %}
	<section style="display: flex;">
		<svg viewBox="-500 -500 1000 1000" width="500" height="700">
			{% for i, node in nodes %}
				<a href="{{ path('graph_node', {uuid: node.uuid}) }}">
				<circle cx="{{node.position.x}}" cy="{{node.position.y}}" r="20" stroke-width="1" stroke="cyan" /></a>
			{% endfor %}

			{% for edge in edges %}
				<a href="{{ path('graph_edge', {uuid: edge.uuid}) }}">
				<polygon points="{{edge.source.position.x}} {{edge.source.position.y}} {{edge.target.position.x}} {{edge.target.position.y}}" stroke="black" stroke-width="1" />
				</a>
			{% endfor %}



			{% for signal in message.signals %}
				<polygon points="{{signal.edge.source.position.x}} {{signal.edge.source.position.y}} {{signal.edge.target.position.x}} {{signal.edge.target.position.y}}" stroke="{{
				{0:'blue',1:'green',2:'yellow',3:'red'}[signal.acknowledgment.state|default(0)]
				}}" stroke-width="5" />
			{% endfor %}

			<circle  cx="{{message.sender.position.x}}" cy="{{message.sender.position.y}}" r="30" fill="none" stroke-width="4" stroke="orange" />

			<circle cx="{{message.receiver.position.x}}" cy="{{message.receiver.position.y}}" r="30" fill="none" stroke-width="4" stroke="magenta" />
		</svg>

		<div>
			<a href="{{ path('graph_index') }}">
			Back
			</a>
			<h1>Message {{ message.uuid }}</h1>

			<dl>
				<dt>Created At</dt>
				<dd>{{ message.createdAt }}</dd>
				<dt>Sender</dt>
				<dd><a href="{{ path('graph_node', {uuid: message.sender.uuid}) }}">{{ message.sender.uuid }}</a></dd>
				<dt>Receiver</dt>
				<dd><a href="{{ path('graph_node', {uuid: message.receiver.uuid}) }}">{{ message.receiver.uuid }}</a></dd>
			</dl>

			<h2>Signals</h2>

			<table width="100%">
				<thead>
					<tr>
						<th>UUID</th>
						<th>Transmitted at</th>
						<th>Edge</th>
						<th>From</th>
						<th>To</th>
						<th>Acked</th>
					</tr>
				</thead>
				<tbody>
				{% for signal in message.signals %}
					<tr>
						<td>{{ signal.uuid }}</td>
						<td align="center">{{ signal.transmittedAt }}</td>
						<td align="center"><a href="{{ path('graph_edge',{uuid: signal.edge.uuid}) }}" title="">{{ signal.edge.uuid }}</a></td>
						<td align="center"><a href="{{ path('graph_node',{uuid: signal.edge.source.uuid}) }}" title="">{{ signal.edge.source.uuid }}</a></td>
						<td align="center"><a href="{{ path('graph_node',{uuid: signal.edge.target.uuid}) }}" title="">{{ signal.edge.target.uuid }}</a></td>
						<td>
							{{ signal.acknowledgment ? signal.acknowledgment.state : '-' }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6" align="center">No signals processed yet</td>
					</tr>
				{% endfor %}
				
				</tbody>
			</table>


		</div>
	</section>
{% endblock %}